{% extends "base_generic.html" %}

{% block content %}
  <title>蘭嶼</title>
  <h1>人之島</h1>
  <p>歡迎光臨 羅比比 和 寶皮威 的家~~~ a website developed by <em>ROSETREE</em>!</p>
  <h2>動態資訊</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>

  </ul>

<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}